<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if recipe_all %}
 {% for recipe_name, products in recipe_all.items %}
        <h2>{{ recipe_name }}</h2>
        <ul>
            {% for product in products %}
                <li>{{ product }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}

{% if recipes %}

{% for recipe in recipes %}
{{recipe.id}}
{{recipe.name}}
{% endfor %}
{% endif %}
</body>
</html>